{{ define "main" }}
      <main class="row">
        {{- partial "sidemenu.html" . }}
        <article id="{{ path.Base .File.Dir }}" class="col-lg-9">
          <section id="work" class="{{ .File }}">
            <h3>
              <div class="j">{{ .Params.jname }}</div>
              <div class="e">{{ .Title }}{{if eq .Params.title "Void > 0" }}<sup>4</sup>{{ end }}</div>
            </h3>

            <div>
              {{ .Content }}
              <ul class="list-unstyled">
                {{ range $n := (seq .Params.photos) }}
                {{- $img_path := path.Join $.File.Dir $.File.BaseFileName $n }}
                <li><img src="/assets/img/{{ $img_path }}.jpg"></li>
                {{ end }}
              </ul>
            </div>
          </section>
        </article>
      </main>
{{ end }}
