
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mobile-menu">
        <h5>Interior Design</h5>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item"><a class="nav-link" href="/works/interior-shop/">Shop</a></li>
          <li class="nav-item"><a class="nav-link" href="/works/interior-restaurant/">Restaurant</a></li>
          <li class="nav-item"><a class="nav-link" href="/works/interior-bar/">Bar</a></li>
          <li class="nav-item"><a class="nav-link" href="/works/interior-gallery/">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="/works/interior-office/">Office</a></li>
          <li class="nav-item"><a class="nav-link" href="/works/interior-medical/">Medical</a></li>
        </ul>

        <h5>Architecture</h5>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item"><a class="nav-link" href="/works/architecture-house/">House</a></li>
        </ul>

        <h5>Other Works</h5>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item"><a class="nav-link" href="/works/other-complex/">Complex</a></li>
          <li class="nav-item disabled"><a class="nav-link" href="#">Graphic</a></li>
          <li class="nav-item disabled"><a class="nav-link" href="#">Fixture</a></li>
          <li class="nav-item disabled"><a class="nav-link" href="#">Furniture</a></li>
        </ul>

        <h5>About</h5>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
        </ul>
      </div>
    </nav>
