{{define "_header"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ .Title }} | Soichi Mizutani Design Office Co., Ltd. : 株式会社水谷壮市デザイン事務所">
		<meta name="author" content="">
		<link rel="shortcut icon" href="/assets/ico/favicon.ico">
		<title>{{ .Title }} | Soichi Mizutani Design Office Co., Ltd. : 水谷壮市デザイン事務所</title>
		<link href="/assets/build/main.css" rel="stylesheet">
	</head>
	<body id="{{ .Slag }}">
		<header>
			<h1><a href="/" title="Soichi Mizutani Design Office Co., Ltd.">Soichi Mizutani <span>Design Office Co., Ltd.</span></a></h1>
		</header>
{{end}}
