{{define "menu"}}
		<nav id="global" class="{{ .Category.Name }} col-lg-3">
			<h5>Interior Design</h5>
			<ul class="list-unstyled interior">
				<li><a href="/works/interior-shop/">Shop</a></li>
				<li><a href="/works/interior-restaurant/">Restaurant</a></li>
				<li><a href="/works/interior-bar/">Bar</a></li>
				<li><a href="/works/interior-gallery/">Gallery</a></li>
				<li><a href="/works/interior-office/">Office</a></li>
				<li><a href="/works/interior-medical/">Medical</a></li>
			</ul>
			<h5>Architecture</h5>
			<ul class="list-unstyled architecture">
				<li><a href="/works/architecture-house/">House</a></li>
			</ul>
			<h5>Other Works</h5>
			<ul class="list-unstyled other">
				<li><a href="/works/other-complex/">Complex</a></li>
				<li class="disabled">Graphic</li>
				<li class="disabled">Fixture</li>
				<li class="disabled">Furniture</li>
			</ul>
		</nav>
{{end}}
