{{define "_menu"}}
			<nav id="global">
				<dl class="interior">
					<dt>Interior Design</dt>
					<dd><a href="/works/interior-shop/">Shop</a></dd>
					<dd><a href="/works/interior-restaurant/">Restaurant</a></dd>
					<dd><a href="/works/interior-bar/">Bar</a></dd>
					<dd><a href="/works/interior-gallery/">Gallery</a></dd>
					<dd><a href="/works/interior-office/">Office</a></dd>
					<dd><a href="/works/interior-medical/">Medical</a></dd>
				</dl>
				<dl class="architecture">
					<dt>Architecture</dt>
					<dd><a href="/works/architecture-house">House</a></dd>
				</dl>
				<dl class="other">
					<dt>Other Works</dt>
					<dd><a href="/works/other-complex/">Complex</a></dd>
					<dd class="disabled">Graphic</dd>
					<dd class="disabled">Fixture</dd>
					<dd class="disabled">Furniture</dd>
				</dl>
			</nav>
{{end}}
