{{define "company"}}
	{{ template "header" . }}
	<main class="row">
	    {{ template "menu" . }}
		<article class="col-lg-9">
		<section id="content">
			<h2>Information / {{.Title}}</h2>
			<div></div>
			<h3>会社概要</h3>
			<table class="table">
				<tr>
					<th>会社名</th>
					<td>株式会社 水谷壮市デザイン事務所<br>(Soichi Mizutani Design Office Co., Ltd.)</td>
				</tr>
				<tr>
					<th>代表取締役</th>
					<td>水谷壮市<br>(Soichi Mizutani)</td>
				</tr>
				<tr>
					<th>所在地</th>
					<td>〒150-0031<br>東京都渋谷区桜丘町15-14 フジビル40 708<br>(708, 15-14, Sakuragaoka, Shibuya-ku, Tokyo, Japan)<br><a href="https://goo.gl/maps/HHcSAjJ9WwQ2" target="_blank" title="">Google Maps</a></td>
				</tr>
				<tr>
					<th>連絡先</th>
					<td>
						<ul class="list-unstyled">
							<li>TEL : 03-5728-4778</li>
							<li>FAX : 03-5728-4778</li>
							<li>Email : <a href="mailto:soichi@soichi-mizutani.com" title="Soichi Mizutani">soichi@soichi-mizutani.com</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>資本金</th>
					<td>10,000,000円</td>
				</tr>
				<tr>
					<th>業務内容</th>
					<td>
						<dl>
							<dt>建築設計</dt>
							<dd>住宅、別荘</dd>
							<dd>マンション、集合住宅</dd>
							<dd>複合商業ビル</dd>
							<dd>オフィスビル</dd>
						</dl>
						<dl>
							<dt>インテリアデザイン</dt>
							<dd>飲食店（レストラン、バー、カフェ等）</dd>
							<dd>物販店（ブティック、量販店、百貨店等）</dd>
							<dd>オフィス</dd>
							<dd>医療施設</dd>
							<dd>ヘアーサロン、エステティックサロン</dd>
							<dd>ギャラリー、美術館</dd>
							<dd>ホテル、宿泊施設</dd>
							<dd>住宅、マンションリフォーム</dd>
							<dd>各種展示会会場構成</dd>
						</dl>
						<dl>
							<dt>その他</dt>
							<dd>家具・プロダクトデザイン</dd>
							<dd>デザインコンサルタント業務</dd>
							<dd>公共事業</dd>
						</dl>
					</td>
				</tr>
				<tr>
					<th>主要取引先</th>
					<td>
						<ul>
							<li>日本アイ・ビー・エム株式会社</li>
							<li>株式会社エルメスジャポン</li>
							<li>森ビル株式会社</li>
							<li>株式会社イナックス</li>
							<li>三井物産株式会社</li>
							<li>株式会社ピープル</li>
							<li>不動建設株式会社</li>
							<li>東急不動産株式会社</li>
							<li>株式会社アデロン</li>
							<li>株式会社柏屋</li>
							<li>株式会社アゴスト</li>
							<li>株式会社東京放送（TBS）</li>
							<li>DSD（大日本印刷株式会社グループ）</li>
							<li>デロイ・トトーマツコンサルタントグループ（U.S.）</li>
							<li>株式会社ワールド</li>
							<li>株式会社パルコビューティシステムズ</li>
							<li>株式会社テーオーシー</li>
						</ul>
						<div class="li_note">※ 順不同</div>
					</td>
				</tr>
			</table>
			</section>
		</article>
	</main>

	{{ template "footer" . }}
{{end}}
