{{define "index"}}
	{{ block "_header" . }}{{ end }}

		<article>
			<div id="poster"><a href="/works/interior-shop/#iguaneye">iGUANEYE</a></div>
			<section id="worklist">
				<div></div>
				<ul class="list-unstyled">
					<li><a href="/works/interior-shop/#iguaneye">iGUANEYE</a></li>
					<li><a href="/works/interior-shop/#hamabowl">Hamabowl</a></li>
					<li><a href="/works/interior-shop/#freude">Freude</a></li>
					<li><a href="/works/interior-restaurant/#tesate-menteng">Tesate Menteng</a></li>
					<li><a href="/works/interior-restaurant/#tesate">Tesate Jacarta</a></li>
					<li><a href="/works/architecture-house/#murakami_ex">Murakami House</a></li>
					<li><a href="/works/architecture-house/#murakami_in">Murakami House</a></li>
					<li><a href="/works/interior-medical/#maruhashi">Maruhashi</a></li>
					<li><a href="/works/interior-gallery/#shanghai">Shanghai Expo</a></li>
					<li><a href="/works/interior-gallery/#eyes">Showroom EYES</a></li>
				</ul>
			</section>
			<ul class="contact list-unstyled">
				<li>708, 15-14, Sakuragaoka, Shibuya-ku, Tokyo</li>
				<li>03-5728-4778</li>
				<li><a href="mailto:soichi@soichi-mizutani.com" title="Soichi Mizutani">soichi@soichi-mizutani.com</a></li>
			</ul>
			<ul class="pages list-unstyled">
				<li><a href="/bio/">Biography</a></li>
				<li><a href="/company/">Company</a></li>
				<li><a href="/links/">Links</a></li>
			</ul>
		</article>

	{{ block "_footer" . }}{{ end }}
{{end}}
