{{define "links"}}
	{{ block "_header" . }}{{ end }}

		<article>
	    {{ template "_menu" . }}
			<section id="content">
				<h2>
					<div>Information / {{.Title}}</div>
				</h2>
				<h3>クライアント（新着順）</h3>
					<ul>
						<li><a href="http://ito-dental-clinic.org/" target="_blank">伊藤デンタルクリニック</a></li>
						<li><a href="http://kemangibali.com/" target="_blank">KEMANGI</a></li>
						<li><a href="http://www.barnobu.com/" target="_blank">Bar NOBU</a></li>
						<li><a href="http://www.omoky.com/" target="_blank">表参道矯正歯科 1</a></li>
						<li><a href="http://www.kyousei-shika.net/kyousei_html/report/17-omotesando.htm" target="_blank">表参道矯正歯科 2</a></li>
						<li><a href="http://www.winegura.com/index.html" target="_blank">ワイン蔵</a></li>

						<!--
						<li><a href="http://www.katsura-restaurant.com/" target="_blank">Restaurant 桂</a></li>
						<li><a href="http://www.cr-fukui.net/creators/kinoshita_shigeru/" target="_blank">福井放送Jスタジオセット</a></li>
						<li><a href="http://www.cahierdeparis.com/1_%96%83%95z_8" target="_blank">麻布 on カイエドパリ</a></li>
						<li><a href="http://nest-pro.com/archives/141" target="_blank">けいデンタル</a></li>
						-->
					</ul>
				<h3>掲載サイト</h3>
					<ul>
						<li><a href="http://www.sekkeiirai.com/" target="_blank">設計依頼.com</a></li>
						<li><a href="http://www.kidukai.com/interview/s_mizutani/" target="_blank">木づかい.com　インタビュー</a></li>
					</ul>
			</section>
		</article>

	{{ block "_footer" . }}{{ end }}
{{end}}
