<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-258121-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-258121-1');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ page.title }} | {{ site.description }}">
		<meta name="author" content="">
		<title>{{ page.title }} | {{ site.description }}</title>
		<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
		<link href="/assets/css/main.css" rel="stylesheet">
	</head>

	<body id="{{ page.type }}">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mobile-menu">
				<h5>Interior Design</h5>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link" href="/works/interior-shop/">Shop</a></li>
					<li class="nav-item"><a class="nav-link" href="/works/interior-restaurant/">Restaurant</a></li>
					<li class="nav-item"><a class="nav-link" href="/works/interior-bar/">Bar</a></li>
					<li class="nav-item"><a class="nav-link" href="/works/interior-gallery/">Gallery</a></li>
					<li class="nav-item"><a class="nav-link" href="/works/interior-office/">Office</a></li>
					<li class="nav-item"><a class="nav-link" href="/works/interior-medical/">Medical</a></li>
				</ul>

				<h5>Architecture</h5>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link" href="/works/architecture-house/">House</a></li>
				</ul>

				<h5>Other Works</h5>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link" href="/works/other-complex/">Complex</a></li>
					<li class="nav-item disabled"><a class="nav-link" href="#">Graphic</a></li>
					<li class="nav-item disabled"><a class="nav-link" href="#">Fixture</a></li>
					<li class="nav-item disabled"><a class="nav-link" href="#">Furniture</a></li>
				</ul>

				<h5>Pages</h5>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link" href="/bio/">Biography</a></li>
					<li class="nav-item"><a class="nav-link" href="/company/">Company</a></li>
					<li class="nav-item"><a class="nav-link" href="/links/">Links</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<header class="row">
				<h1><a href="/" title="Soichi Mizutani Design Office Co., Ltd.">Soichi Mizutani <span>Design Office Co., Ltd.</span></a></h1>
			</header>

			{{ content }}

			<footer class="row">
				<div class="menu col-lg-6">
					<nav>
						<ul class="list-unstyled">
							<li><a href="/bio/">Biography</a></li>
							<li><a href="/company/">Company</a></li>
							<li><a href="/links/">Links</a></li>
						</ul>
					</nav>
				</div>
				<div class="cr col-lg-6 text-right">
					<small>Copyright &copy; 2018 Soichi Mizutani Design Office Co,.Ltd. All Rights Reserved.</small>
				</div>
			</footer>
		</div><!-- container -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>
