---
layout: default
---

{% assign works = site.works | where_exp: "w", "w.path contains page.category" %} 
{% assign catname = site.data.categories | where: "name", page.category | first %}

<main class="row">
	{%- include menu.html -%}
	<article id="{{ page.category }}" class="col-lg-9">
		<h2>{{ catname.title }}<span></span></h2>
		<nav>
			<ul class="list-unstyled">
				{% for w in works %}
					<li><a href="{{ w.url }}">{{ w.ename }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<section id="work" class="{{ page.slug }}">
			<h3>
				<div class="j">{{ page.jname }}</div>
				<div class="e">{{ page.ename }}</div>
			</h3>
			{% assign image_path = "/assets/img/works/" | append: page.category | append: "/" | append: page.slug | append: "/" %}
			{% assign image_files = site.static_files | where_exp: "img", "img.path contains image_path" %}
			<nav>
				<ul class="list-unstyled">
					{% for i in image_files %}
						<li><a href="#" id="{{ forloop.index }}">{{ forloop.index }}</a></li>
					{% endfor %}
				</ul>
			</nav>
			<div>
				<ul class="list-unstyled">
					{% for img in image_files %}
						<li><a href="#" id="{{ forloop.index }}"><img src="{{ img.path }}"></a></li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</article>
</main>
