---
layout: default
---

{% assign collection = site.collections | where: "label", page.collection | first %} 

<main class="row">
	{%- include menu.html -%}
	<article id="{{ page.collection }}" class="col-lg-9">
		<h2>{{ collection.title }}<span></span></h2>
		<nav>
			<ul class="list-unstyled">
				{% assign col = collection.docs | sort %}
				{% for work in col %}
					<li><a href="/works/{{ work.collection }}/{{ work.slug }}/">{{ work.ename }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<section id="work" class="{{ page.slug }}">
			<h3>
				<div class="j">{{ page.jname }}</div>
				<div class="e">{{ page.ename }}</div>
			</h3>
			{% assign image_path = "/assets/img/works/" | append: page.collection | append: "/" | append: page.slug %}
			{% assign image_files = site.static_files | where_exp: "img", "img.path contains image_path" %}
			<nav>
				<ul class="list-unstyled">
					{% for i in image_files %}
						<li><a href="#" id="{{ forloop.index }}">{{ forloop.index }}</a></li>
					{% endfor %}
				</ul>
			</nav>
			<div>
				<ul class="list-unstyled">
					{% for img in image_files %}
						<li><a href="#" id="{{ forloop.index }}"><img src="{{ img.path }}"></a></li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</article>
</main>
