{{define "work"}}
	{{ template "header" . }}

		{{ $name := .Category.Name }}
		<article id="{{ .Category.Name }}">
		{{ template "menu" . }}
			<section id="content">
				<h2>{{ .Category.Title }}<span></span></h2>
				<nav>
				<ul class="list-unstyled">
					{{ range $work := .Category.Works }}
					<li><a href="#{{ $work.Dir }}"></a></li>
					{{ end }}
				</ul>
				</nav>

				{{ range $work := .Category.Works }}
				<section class="{{.Dir}}">
				<h3>
					<div class="j">{{ .Jname }}</div>
					<div class="e">{{ .Ename }}</div>
				</h3>
				<nav>
					<ul class="list-unstyled">
					{{ range $jpg := .JpgSlice }}
					<li><a href="#{{ $jpg }}">Photo {{ $jpg }}</a></li>
					{{ end }}
					</ul>
				</nav>
				<div>
					<ul class="list-unstyled">
					{{ range $jpg := .JpgSlice }}
					<li><a href="#"><img src="/assets/img/works/{{ $name }}/{{ $work.Dir }}/{{ $jpg }}.jpg"></a></li>
					{{ end }}
					</ul>
				</div>
				<p></p>
				</section>
				{{ end }}

			</section>
		</article>

	{{ template "bottom" . }}
	{{ template "footer" . }}
{{end}}
